@font-face {
  font-family: "agent-con-normal";
  src: url("../font/AgentConDB\ Normal.ttf");
}

@font-face {
  font-family: "agent-con-bold";
  src: url("../font/Roboto-BoldCondensed.ttf");
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: agent-con-normal;
}

:root {
  --main-color: #287e3d;
}

.pointer {
  cursor: pointer;
}
